
ul li {
    padding-left: 2px!important;
}


/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 70px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #21d127;;
        bottom: 0;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
        text-decoration: none;
        color: #fff;
        padding: 10px 16px!important;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #bfbecc !important;
    }
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 17px;
    text-decoration: none; 
    color:#fff;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}


/* Section */

#wrapper{
    margin-top: 2em;
}

#rootwizard>div>div>div>ul.nav-pills>li>a{
    background-color: #f3f3f3;
    padding: 20px!important;
    border-radius: 0;
}

#rootwizard>div>div>div>ul.nav-pills>li{
    margin: 0!important;
}

#rootwizard>div>div>div>ul li{
    padding: 0;
}

#question-section{
	background-image: url('../img/banner.png');
}


/* Custom scrollbar*/ 

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #08053a; 
    border-radius: 10px;
  }
 
