<html>
<head>
	<title>Modulo 2. Tema 4</title>
</head>
<body>
	<div>
		<h1>Factorizaci&oacute;n</h1>
		<p>Factorizar una expresi&oacute;n algebraica (o suma de t&eacute;rminos algebraicos), es el procedimiento que permite escribir como multiplicaci&oacute;n dicha expresi&oacute;n. Los factores o divisores de una expresi&oacute;n algebraica, son los t&eacute;rminos, ya sean n&uacute;meros y/o letras, que multiplicados entre s&iacute; dan como producto la primera expresi&oacute;n.</p>
		<h3>Factorizaci&oacute;n por factor com&uacute;n</h3>
		<p>En esta expresi&oacute;n todos los t&eacute;rminos comparten la misma literal (sin importar que su potencia sea diferente).</p>
		<h4>Pasos:</h4>
		<p>1. Mirar que t&eacute;rmino tiene la menor potencia, ya que ese ser&aacute; el que multiplicara a los dem&aacute;s t&eacute;rminos.</p>
		<p>2. Todos los t&eacute;rminos ser&aacute;n divididos entre el t&eacute;rmino.</p>
		<h4>Ejemplo:</h4>
		<p style="text-align: center;">n⁷ + n⁴ + n² = n² (n⁵ + n² + 1)</p>
		<br/>
		<h3>Factorizaci&oacute;n por diferencia de cuadrados</h3>
		<p>La diferencia de cuadrados da como resultado un binomio conjugado.</p>
		<p style="text-align: center;">(a² - b²) = (a + b) (a - b)</p>
		<h4>Pasos:</h4>
		<p>1. Se extrae la ra&iacute;z de ambos t&eacute;rminos.</p>
		<p>2. Y se acomoda como se muestra a lado.</p>
		<h4>Ejemplo:</h4>
		<p style="text-align: center;">w² - 25 = (w + 5) (w - 5)</p>
		<br/>
		<h3>Factorizaci&oacute;n por trinomio cuadrado perfecto</h3>
		<p>La forma del trinomio al cuadrado perfecto es de la siguiente forma:</p>
		<p style="text-align: center;">(a + b)² = a² + 2ab + b²</p>
		<h4>Pasos:</h4>
		<p>1. Verificar que los exponentes est&aacute;n acomodados de mayor a menor.</p>
		<p>2. Se saca la ra&iacute;z cuadrada del primero y tercer t&eacute;rmino.</p>
		<p>3. Para comprobar que es un trinomio al cuadrado perfecto, la ra&iacute;z del primer y tercer t&eacute;rmino se multiplica por dos y tiene que dar como resultado el segundo t&eacute;rmino.</p>
		<h4>Ejemplo:</h4>
		<p style="text-align: center;">c² + 6c + 9 = (c + 3)²</p>
		<p style="font-style: italic;">(Nota: El signo del resultado se toma del signo del segundo t&eacute;rmino.)</p>
		<br/>
		<h3>Factorizaci&oacute;n por trinomio de la forma x² + bx + c</h3>
		<p>Este trinomio se parece al trinomio al cuadrado perfecto, pero no son iguales, en este caso el tercer t&eacute;rmino no tiene ra&iacute;z, o en la comprobaci&oacute;n no sale el segundo t&eacute;rmino.</p>
		<h4>Pasos:</h4>
		<p>1. Se saca la ra&iacute;z del primer t&eacute;rmino y se coloca en ambos factores (en cada par&eacute;ntesis).</p>
		<p>2. Se coloca el signo del segundo t&eacute;rmino en el primer factor y se multiplica el signo del segundo t&eacute;rmino por el del tercer t&eacute;rmino para encontrar el signo del segundo factor.</p>
		<p>3. Al tener los signos se buscan dos n&uacute;meros que multiplicados den el tercer t&eacute;rmino y sumados o restados el segundo.</p>
		<h4>Ejemplo:</h4>
		<p style="text-align: center;">w² - 13w - 30 = (w - 15) (w + 2)</p>
	</div>
</body>
</html>