<html>
<head>
	<title>Modulo 2. Tema 1</title>
</head>
<body>
	<div>
		<h1>Operaciones fundamentales de algebra</h1>
		<h3>Suma o adici&oacute;n</h3>
		<p>Es la operaci&oacute;n que consiste en reunir dos o m&aacute;s operaciones algebraicas en una sola.</p>
		<h4>Leyes de los signos</h4>
		<p>En la suma no se aplican dichas leyes. La regla que se utiliza es signos iguales se suman, signos diferentes se restan.</p>
		<h4>Leyes de los exponentes</h4>
		<p>En la suma no se aplican dichas leyes. La regla que se utiliza es Agrupaci&oacute;n de términos semejantes (iguales en letras y exponentes).</p>
		<h4>Ejemplos con n&uacute;meros enteros</h4>
		<p style="text-align: center;">8x² + 24x² = 32x²</p>
		<p style="text-align: center;">7a⁴ – 9a⁴ - 5a⁴ = -7a⁴</p>
		<h4>Ejemplos con n&uacute;meros fraccionarios</h4>
		<p style="text-align: center;">3/5m³ + 2/3m³ = 19/15m³</p>
		<p style="text-align: center;">4/8x³ + 6/8x³ = 10/8x³</p>
		<h3>Resta o sustracci&oacute;n</h3>
		<p>Es la operaci&oacute;n que consiste en sustraer o quitar una cantidad de otra.</p>
		<h4>Leyes de los signos</h4>
		<p>En la resta no se aplican dichas leyes. La regla que se utiliza es al restar el sustraendo del minuendo, se cambian de signo los t&eacute;rminos en cuesti&oacute;n.</p>
		<h4>Leyes de los exponentes</h4>
		<p>En la resta no se aplican dichas leyes. La regla que se utiliza es Agrupaci&oacute;n de términos semejantes (signos iguales se suman, signos diferentes se restan).</p>
		<h4>Ejemplos con n&uacute;meros enteros</h4>
		<p style="text-align: center;">9xy - (3xy) = 6xy</p>
		<p style="text-align: center;">74mn - 18mn = 56mn</p>
		<h4>Ejemplos con n&uacute;meros fraccionarios</h4>
		<p style="text-align: center;">4/5x³ – 3/5x³ = 1/5x³</p>
		<p style="text-align: center;">–4/5y³ - 5/6y³ = -49/30y³</p>
		<h3>Multiplicaci&oacute;n o producto</h3>
		<p>Es la operaci&oacute;n donde el multiplicando y el multiplicador al desarrollarse dan como resultado un producto.</p>
		<h4>Leyes de los signos</h4>
		<p style="text-align: center;">(+)(+) = +<br/>(-)(-) = +<br/>(+)(-) = -<br/>(-)(+) = -</p>
		<h4>Leyes de los exponentes</h4>
		<p>En la multiplicaci&oacute;n los exponentes se suman.</p>
		<h4>Ejemplos con n&uacute;meros enteros</h4>
		<p style="text-align: center;">(4a²) (7a) = 28a²</p>
		<p style="text-align: center;">(3a²b) (2ab²) = 6a³b³</p>
		<h4>Ejemplos con n&uacute;meros fraccionarios</h4>
		<p style="text-align: center;">(3/5x²) (5/8x³) = 15/14x⁵</p>
		<p style="text-align: center;">(-3/8x⁴) (-4/5x²y³) = 12/40x⁶y³</p>
		<h3>Divisi&oacute;n o cociente</h3>
		<p>Es la operaci&oacute;n donde se desarrollan el dividendo y el divisor y dan como resultado un cociente.</p>
		<h4>Leyes de los signos</h4>
		<p style="text-align: center;">+ / + = +<br/>- / - = +<br/>+ / - = -<br/>- / + = -</p>
		<h4>Leyes de los exponentes</h4>
		<p>En la divisi&oacute;n los exponentes se restan</p>
		<h4>Ejemplos con n&uacute;meros enteros</h4>
		<p style="text-align: center;">6x⁵ / 3x² = 2x³</p>
		<p style="text-align: center;">8m⁵n⁴ / 4mn = 2m⁴n³</p>
		<h4>Ejemplos con n&uacute;meros fraccionarios</h4>
		<p style="text-align: center;">(4/5x³) / (2/3x) = 12/10x²</p>
		<p style="text-align: center;">(-5/6x⁴) / (3/4x⁷) = -20/18x⁻³</p>
	</div>
</body>
</html>