<html>
<head>
	<title>Modulo 1. Tema 1</title>
		 <!-- Bootstrap -->

		 <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
 
 
		 <!--Custom css-->
		 <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="subpage" style="overflow-y: visible">
	<div class="sub-margin">
		<h1>Notación algebraica</h1>
		<p>Consiste en que los n&uacute;meros se emplean para representar cantidades conocidas y determinadas. Las letras se emplean para representar toda clase de cantidades, ya sean conocidas o desconocidas. Las cantidades conocidas se expresan por las primeras letras del alfabeto: a, b, c, d. Las cantidades desconocidas se representan por las &uacute;ltimas letras del alfabeto: u, v, w, x, y, z.</p>
		<p>Los signos empleados en álgebra son tres clases:</p>
		<h4>Signos de operaci&oacute;n</h4>
		<p>Se verifican con las cantidades las mismas operaciones que en aritm&eacute;tica: suma, resta, multiplicaci&oacute;n, elevaci&oacute;n a potencias y extracci&oacute;n de ra&iacute;ces, que se indican con los principales signos de aritm&eacute;tica excepto el signo de multiplicaci&oacute;n. En lugar del signo × suele emplearse un punto entre los factores y tambi&eacute;n se indica a la multiplicaci&oacute;n colocando los factores entre par&eacute;ntesis. As&iacute; a ⋅ b y (a) (b) equivale a a×b.</p>
		<h4>Signos de relaci&oacute;n</h4>
		<p>Se emplean estos signos para indicar la relaci&oacute;n que existe entre dos cantidades.Los principales son:</p>
		<p><strong>=</strong> Se lee igual a.</p>
		<p><strong>></strong> Se lee mayor que</p>
		<p><strong><</strong> Se lee menor que.</p>
		<h4>Signos de agrupaci&oacute;n</h4>
		<p>Los signos de agrupaci&oacute;n son: el par&eacute;ntesis ordinario ( ), el par&eacute;ntesis angular o corchete [ ], las llaves { } y la barra o v&iacute;nculo | |. Estos signos indican que la operaci&oacute;n colocada entre ellos debe efectuarse primero.</p>
		<h4>Ejemplo:</h4>
		<p>(a + b) c indica que el resultado de la suma a y b debe multiplicarse por c.</p>
		<p>[a – b]m indica que la diferencia entre a y b debe multiplicarse por m.</p>
		<p>{a + b} ÷ {c – d} indica que la suma de a y b debe dividirse entre la diferencia de c y d.</p>
		<p>El orden de estos signos son de la siguiente forma {[( )]}.</p>
		<p>{[(a+b)–c]⋅ d} indica que al resultado de la suma de a + b debe restarse c y el resultado de esto multiplicarse por d.</p>
		<div class="table-wrapper">
			<table class="alt">
				<thead>
					<tr>
						<th>Expresi&oacute;n</th>
						<th>Uso</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="text-align: center;">+</td>
						<td>Adem&aacute;s de expresar adici&oacute;n tambi&eacute;n es usada para expresar operaciones binarias.</td>
					</tr>
					<tr>
						<td style="text-align: center;">Primeras letras del abecedario a, b, c.</td>
						<td>Se utilizan para expresar cantidades conocidas.</td>
					</tr>
					<tr>
						<td style="text-align: center;">&Uacute;ltimas letras del abecedario x, y, z.</td>
						<td>Se utilizan para expresar inc&oacute;gnitas.</td>
					</tr>
					<tr>
						<td style="text-align: center;">Coeficientes.</td>
						<td>El coeficiente es el n&uacute;mero escrito a la izquierda de la variable. Se trata de un multiplicador.</td>
					</tr>
					<tr>
						<td style="text-align: center;">Sub&iacute;ndices.</td>
						<td>Son los pequeños n&uacte;meros que aparecen despu&eacute;s de y ligeramente por debajo de la variable.</td>
					</tr>
					<tr>
						<td style="text-align: center;">Exponentes.</td>
						<td>Muestra cu&aacute;ntas veces el n&uacute;mero se va a utilizar en la multiplicaci&oacute;n. Se escribe como un n&uacute;mero pequeño arriba y a la derecha del n&uacute;mero base.</td>
					</tr>
					<tr>
						<td style="text-align: center;">Llaves.</td>
						<td>Expresa un conjunto.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>