<html>
<head>
	<title>Modulo 1. Tema 4</title>
		 <!-- Bootstrap -->

		 <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
 
 
		 <!--Custom css-->
		 <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="subpage">
	<div>
		<h1>Evaluaci&oacute;n num&eacute;rica de expresiones algebraicas</h1>
		<p>Es el proceso de reemplazar las variables en una expresi&oacute;n con un valor num&eacute;rico y simplificar a su m&aacute;s m&iacute;nima expresi&oacute;n. El orden de las operaciones se usar&aacute; para evaluar una expresi&oacute;n algebraica.</p>
		<h4>Ejemplos:</h4>
		<p>1. Eval&uacute;a 2𝑛 + 5 cuando 𝑛 = 12</p>
		<p style="text-align: center;">2𝑛 + 5<br/>2(12) + 5<br/>24 + 5 = 𝟐𝟗</p>
		<p>2. Eval&uacute;a 4𝑥² − 10𝑥 cuando 𝑥 = 3</p>
		<p style="text-align: center;">4𝑥² − 10𝑥<br/>4(3)² − 10(3)<br/>4(9) − 10(3)<br/>36 − 30 = 𝟔</p>
	</div>
</body>
</html>