<html>
<head>
	<title>Modulo 2. Tema 3</title>
			 <!-- Bootstrap -->

			 <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

			 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
			 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
			 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	 
	 
			 <!--Custom css-->
			 <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="subpage">
	<div class="sub-margin">
		<h1>Productos notables</h1>
		<p>Los productos notables son operaciones algebraicas, donde se expresan multiplicaciones de polinomios, que no necesitan ser resueltas tradicionalmente, sino que con la ayuda de ciertas reglas se pueden encontrar los resultados de las mismas. Cada producto notable es una f&oacute;rmula que resulta de una factorizaci&oacute;n, compuesta por polinomios de varios t&eacute;rminos como por ejemplo binomios o trinomios, llamados factores. Los factores son la base de una potencia y tienen un exponente.</p>
		<h3>Binomios al cuadrado</h3>
		<p>Es la multiplicaci&oacute;n de un binomio por s&iacute; mismo, expresada en forma de potencia, donde los t&eacute;rminos son sumados o restados.</p>
		<h4>Reglas:</h4>
		<p>1. El primer t&eacute;rmino se eleva al cuadrado.</p>
		<p>2. M&aacute;s o menos, dos veces el primer t&eacute;rmino multiplicado por el segundo.</p>
		<p>3. M&aacute;s el segundo t&eacute;rmino elevado al cuadrado.</p>
		<h4>Ejemplo:</h4>
		<p>Se tiene el siguiente binomio:</p>
		<p style="text-align: center;">(2x⁵ + 3x³)²</p>
		<p>Siguiendo las reglas, lo primero que se debe hacer es elevar el primer t&eacute;rmino al cuadrado.</p>
		<p style="text-align: center;">(2x⁵ + 3x³)² = (2x⁵)²</p>
		<p>Despu&eacute;s, seg&uacute;n el signo, se debe sacar el doble del primer t&eacute;rmino y multiplicarlo por el segundo t&eacute;rmino.</p>
		<p style="text-align: center;">(2x⁵ + 3x³)² = (2x⁵)² + 2(2x⁵)(3x³)</p>
		<p>Lo siguiente es sumar el segundo t&eacute;rmino elevado al cuadrado.</p>
		<p style="text-align: center;">(2x⁵ + 3x³)² = (2x⁵)² + 2(2x⁵)(3x³) + (3x³)²</p>
		<p>Por ultimo resolvemos los productos y quedar&iacute;a:</p>
		<p style="text-align: center;">(2x⁵ + 3x³)² = 4x¹⁰ + 12x⁹ + 9x⁶</p>
		<br/>
		<h3>Binomios conjugados</h3>
		<p>Al resultado de los binomios conjugados se le llama diferencia de cuadrados. Se trata del producto de dos binomios cuyos t&eacute;rminos son los mismos y que solo cambian de signo, el resultado se forma con el cuadrado del primer t&eacute;rmino y el cuadrado del segundo t&eacute;rmino, separados por el signo de menos.</p>
		<h4>Ejemplo:</h4>
		<p style="text-align: center;">(2a + 3b) (2a - 3b) = 4a² - 9b²</p>
		<br/>
		<h3>Binomios con t&eacute;rmino com&uacute;n</h3>
		<p>Se llama as&iacute; a todos los binomios en los cuales uno de los t&eacute;rminos se repite en ambos binomios, por tal raz&oacute;n se le llama t&eacute;rmino com&uacute;n.</p>
		<h4>Pasos:</h4>
		<p>a) El producto de los t&eacute;rminos comunes o cuadrado del t&eacute;rmino com&uacute;n.</p>
		<p>b) La suma algebraica de los t&eacute;rminos no comunes por el t&eacute;rmino com&uacute;n.</p>
		<p>c) El producto algebraico de los t&eacute;rminos no comunes.</p>
		<h4>Ejemplo:</h4>
		<p style="text-align: center;">(x + 6) (x - 9) = x² + (6 + 9) (x) + (6) (9)</p>
		<p style="text-align: center;">(x + 6) (x - 9) = x² + 15x + 54</p>
	</div>
</body>
</html>