<html>
<head>
	<title>Modulo 3. Tema 2</title>
			 <!-- Bootstrap -->

			 <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

			 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
			 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
			 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	 
	 
			 <!--Custom css-->
			 <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="subpage">
	<div class="sub-margin">
		<h1>Sistema de ecuaciones</h1>
		<p>Es un conjunto de ecuaciones (lineales) que tienen m&aacute;s de una inc&oacute;gnita. Las inc&oacute;gnitas aparecen en varias de las ecuaciones, pero no necesariamente en todas. Lo que hacen estas ecuaciones es relacionar las inc&oacute;gnitas entre s&iacute;.</p>
		<p>Ejemplo de un sistema:</p>
		<p style="text-align: center;">3x + 2y = 1<br/>x - 5y = 6</p>
		<p>Es un sistema de dos inc&oacute;gnitas.</p>
		<p>Resolver un sistema de ecuaciones consiste en encontrar el valor de cada incógnita para que se cumplan todas las ecuaciones del sistema.</p>
		<p>La solución al sistema del ejemplo anterior es:</p>
		<p style="text-align: center;">x = 1<br/>y = -1</p>
		<p>Pero no siempre existe soluci&oacute;n, o bien, pueden existir infinitas soluciones. Si hay una &uacute;nica soluci&oacute;n (un valor para cada inc&oacute;gnita, como en el ejemplo anterior) se dice que el sistema es compatible determinado.</p>
		<p>Para resolver un sistema (compatible determinado) necesitamos tener al menos tantas ecuaciones como inc&oacute;gnitas.</p>
		<p>Cuando en el sistema se presenten &uacute;nicamente 2 inc&oacute;gnitas se utilizar&aacute;n los siguientes m&eacute;todos:</p>
		<h3>M&eacute;todo de reducci&oacute;n (Suma y resta)</h3>
		<p>Este m&eacute;todo consiste en eliminar una de las inc&oacute;gnitas al sumar o restar las dos ecuaciones y obtener una ecuaci&oacute;n de primer grado.</p>
		<h4>Ejemplo:</h4>
		<p>Para sumar las ecuaciones y que desaparezca una de las dos inc&oacute;gnitas, los coeficientes de dicha inc&oacute;gnita deben ser iguales, pero de signo distinto. Para ello, multiplicamos por -2 la primera ecuaci&oacute;n.</p>
		<p style="text-align: center;">x + y = 3<br/>2x - y = 0</p>
		<p>Despu&eacute;s sumamos las ecuaciones y resolvemos la ecuaci&oacute;n obtenida:</p>
		<p style="text-align: center;">-2x - 2y = -6<br/>2x - y = 0</p>
		<p>Dandonos como resultado:</p>
		<p style="text-align: center;">0x - 3y = -6<br/>↓<br/>-3y = -6<br/>↓<br/>y = (-6 / -3) = 𝟐</p>
		<p>Finalmente, sustituimos el valor de 𝑦 = 2 en la primera ecuaci&oacute;n y la resolvemos:</p>
		<p style="text-align: center;">x + y = 3<br/>↓<br/>x + 2 = 3<br/>↓<br/>x = 3 - 2 = 𝟏</p>
		<p>Por lo tanto, la soluci&oacute;n del sistema de ecuaciones es:</p>
		<p style="text-align: center;">𝒙 = 𝟏, 𝒚 = 𝟐</p>
		<br/>
		<h3>M&eacute;todo de sustituci&oacute;n</h3>
		<p>Consiste en despejar o aislar una de las inc&oacute;gnitas y sustituir su expresi&oacute;n en la otra ecuaci&oacute;n. De este modo, obtendremos una ecuaci&oacute;n de primer grado con la otra inc&oacute;gnita. Una vez resuelta, calculamos el valor de la otra inc&oacute;gnita sustituyendo el valor de la que ya conocemos.</p>
		<h4>Ejemplo:</h4>
		<p>Tenemos las siguientes ecuaciones:</p>
		<p style="text-align: center;">2x + y = -10<br/>x - 3y = 2</p>
		<p>Despejamos en la segunda ecuaci&oacute;n la 𝑥:</p>
		<p style="text-align: center;">x − 3y = 2<br/>↓<br/>x = 3y + 2</p>
		<p>Sustituimos su expresi&oacute;n en la primera ecuaci&oacute;n y la resolvemos:</p>
		<p style="text-align: center;">2x + y = -10<br/>↓<br/>2(3y + 2) = -10<br/>↓<br/>6y + 4 + y = -10<br/>↓<br/>7y = -14<br/>↓<br/>y = (-14 / 7) = −𝟐</p>
		<p>Calculamos 𝑥 conociendo 𝑦 = −2:</p>
		<p style="text-align: center;">x - 3y = 2<br/>↓<br/>x - 3(-2) = 2<br/>↓<br/>x + 6 = 2<br/>↓<br/>x = -6 + 2 = −𝟒</p>
		<p>Por lo tanto, la soluci&oacute;n de este sistema es:</p>
		<p style="text-align: center;">𝒙 = −𝟒, 𝒚 = −𝟐</p>
		<br/>
		<h3>M&eacute;todo de igualaci&oacute;n</h3>
		<p>Consiste en aislar en ambas ecuaciones la misma inc&oacute;gnita para poder igualar las expresiones, obteniendo as&iacute; una ecuaci&oacute;n con una sola inc&oacute;gnita.</p>
		<h4>Ejemplo:</h4>
		<p>Tenemos las siguientes ecuaciones:</p>
		<p style="text-align: center;">4y - 3x = 6<br/>-2x - 4y = -16</p>
		<p>Despejamos, por ejemplo, la inc&oacute;gnita 𝑥 de la primera y segunda ecuaci&oacute;n:</p>
		<div class="6u 12u$(small)">
			<p style="text-align: center;">4y - 3x = 6<br/>↓<br/>3x = -6 + 4y<br/>↓<br/>x = (4y - 6) / 3</p>
		</div>
		<div class="6u 12u$(small)">
			<p style="text-align: center;">-2x - 4y = -16<br/>↓<br/>2x = -4y + 16<br/>↓<br/>x = (-4y + 16) / 2</p>
		</div>
		<p>Igualamos ambas expresiones:</p>
		<p style="text-align: center;">(4y - 6) / (3) = (-4y + 16) / (2)</p>
		<p>Resolvemos la ecuaci&oacute;n:</p>
		<p style="text-align: center;">2(4y - 6) = 3(-4y + 16)<br/>↓<br/>8y - 12 = -12y + 48<br/>↓<br/>8y + 12y = 48 + 12<br/>↓<br/>20y = 60<br/>↓<br/>y = 60 / 20 = 𝟑</p>
		<p>Sustituimos el valor de 𝑦, en una de las dos expresiones en las que tenemos despejada la x:</p>
		<p style="text-align: center;">x = (4y - 6) / 3<br/>↓<br/>x = (4(3) - 6) / 3<br/>↓<br/>x = (12 - 6) / 3 = 𝟐</p>
		<p>Por tanto, la soluci&oacute;n de este sistema es:</p>
		<p style="text-align: center;">𝒙 = 𝟐, 𝒚 = 𝟑</p>
	</div>
</body>
</html>