<html>
<head>
	<title>Modulo 3. Tema 1</title>
			 <!-- Bootstrap -->

			 <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

			 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
			 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
			 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	 
	 
			 <!--Custom css-->
			 <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="subpage">
	<div>
		<h1>Resoluci&oacute;n de ecuaciones con una inc&oacute;gnita</h1>
		<p>Se conoce como ecuaciones de primer grado porque constan de una sola variable o inc&oacute;gnita. El resolver una ecuaci&oacute;n de este tipo significa encontrar el valor o los valores de la inc&oacute;gnita que satisfacen la igualdad.</p>
		<h4>Pasos:</h4>
		<p>● Se reducen los t&eacute;rminos semejantes, cuando es posible.</p>
		<p>● Se hace la transposici&oacute;n de t&eacute;rminos (aplicando inverso aditivo o multiplicativo), los que contengan la inc&oacute;gnita se ubican en el miembro izquierdo, y los que carezcan de ella en el derecho.</p>
		<p>● Se reducen los t&eacute;rminos semejantes, hasta donde es posible.</p>
		<p>● Se despeja la inc&oacute;gnita, dividiendo ambos miembros de la ecuaci&oacute;n por el coeficiente de la inc&oacute;gnita (inverso multiplicativo), y se simplifica.</p>
		<h4>Ejemplo:</h4>
		<p>Resolver la ecuaci&oacute;n 2x – 3 = 53</p>
		<p>1. Debemos tener las letras a un lado y los n&uacute;meros al otro lado de la igualdad (=), entonces para llevar el –3 al otro lado de la igualdad, le aplicamos el inverso aditivo (el inverso aditivo de –3 es +3, porque la operaci&oacute;n inversa de la resta es la suma).<br/>Entonces hacemos:</p>
		<p style="text-align: center;">2x – 3 + 3 = 53 + 3</p>
		<p>2. En el primer miembro –3 se elimina con +3 y tendremos:</p>
		<p style="text-align: center;">2x = 53 + 3<br/>2x = 56</p>
		<p>3. Ahora tenemos el n&uacute;mero 2 que est&aacute; multiplicando a la variable o inc&oacute;gnita x, entonces lo pasaremos al otro lado de la igualdad dividiendo. Para hacerlo, aplicamos el inverso multiplicativo de 2 (que es 1⁄2) a ambos lados de la ecuaci&oacute;n:</p>
		<p style="text-align: center;">2x • 1⁄2 = 56 • 1⁄2</p>
		<p>4. Simplificamos y tendremos ahora:</p>
		<p style="text-align: center;">x = 56 / 2<br/>x = 28</p>
		<p>Resultado.</p>
		<p style="text-align: center; font-style: bold;">x = 28</p>
	</div>
</body>
</html>