<html>
<head>
	<title>Modulo 2. Tema 2</title>
			 <!-- Bootstrap -->

			 <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

			 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
			 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
			 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	 
	 
			 <!--Custom css-->
			 <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="subpage">
	<div>
		<h1>Leyes de los exponentes y radicales</h1>
		<h3>¿Qu&eacute; son los exponentes?</h3>
		<p>El exponente (tambi&eacute;n llamado potencia) de un n&uacute;mero es el producto de varios factores iguales a &eacute;l.</p>
		<p>El n&uacute;mero que se multiplica por s&iacute; mismo se llama base de la potencia.</p>
		<p>Para señalar potenciaci&oacute;n se escribe la base y en su parte superior derecha se escribe un n&uacute;mero pequeño que indica cu&aacute;ntas veces se toma como factor dicha base; este n&uacute;mero pequeño recibe el nombre de exponente.</p>
		<p style="text-align: center;">𝑛 𝑣𝑒𝑐𝑒𝑠<br/>𝑎ⁿ = 𝑎×𝑎×𝑎×...</p>
		<h4>Leyes de los exponentes</h4>
		<div class="table-wrapper">
			<table class="alt">
				<tbody>
					<tr>
						<td style="text-align: center;">a⁰ = 1<br/>a¹ = a</td>
						<td style="text-align: center;">aⁿ x aᵐ = aⁿ ⁺ ᵐ</td>
						<td style="text-align: center;">(aⁿ)ᵐ = aⁿ ˣ ᵐ</td>
					</tr>
					<tr>
						<td style="text-align: center;">(a / b)ⁿ</td>
						<td style="text-align: center;">a⁻ⁿ = 1 / aⁿ</td>
						<td style="text-align: center;">(a / b)⁻ⁿ = (b / a)ⁿ</td>
					</tr>
				</tbody>
			</table>
		</div>
		<h4>Ejemplos:</h4>
		<p>1. 3⁵ = 3 x 3 x 3 x 3 x 3 = 𝟐𝟒𝟑</p>
		<p>2. (3 / 5)³ = 3³ / 5³  = (3 x 3 x 3) / (5 x 5 x 5) = 𝟐𝟕 / 𝟏𝟐𝟓</p>
		<p>3. (-5)³ = -5 x -5 x -5 = −𝟏𝟐𝟓</p>
		<p>4. (−2)⁴ = −2 × −2 × −2 × −2 = 𝟏𝟔</p>
		<p>5. (1 / 4) xy⁻¹z⁻¹ = 𝒙 / (𝟒𝒚𝒛)</p>
		<p>6. 2² × 2³ = 2²ˣ³ = 2⁶ = 2 × 2 × 2 × 2 × 2 × 2 = 𝟔𝟒</p>
		<p>7. (a³a⁵) / a² = a³⁺⁵ / a² = a⁸ / a² = 𝒂⁶</p>
		<br/>
		<h3>¿Qu&eacute; son los radicales?</h3>
		<p>La radicaci&oacute;n es la operaci&oacute;n inversa de la potenciaci&oacute;n y permite hallar la base correspondiente conociendo las potencias y el exponente.</p>
		<p>El radicando tambi&eacute;n recibe el nombre de subradical.</p>
		<p>ⁿ√𝑎 = 𝑏 si y solo si 𝑏ⁿ = 𝑎</p>
		<h4>Leyes de los exponentes</h4>
		<div class="table-wrapper">
			<table class="alt">
				<tbody>
					<tr>
						<td style="text-align: center;">ⁿ√(𝑎ⁿ) = 𝑎</td>
						<td style="text-align: center;">ᵐ√(𝑎ⁿ) = 𝑎⁽ⁿ/ᵐ⁾</td>
					</tr>
					<tr>
						<td style="text-align: center;">ⁿ√𝑎 × ⁿ√𝑏 = ⁿ√(𝑎𝑏)</td>
						<td style="text-align: center;">ⁿ√(ᵐ√𝑎) = ⁽ⁿᵐ⁾√𝑎</td>
					</tr>
				</tbody>
			</table>
		</div>
		<h4>Ejemplos:</h4>
		<p>1. √64 = 𝟖</p>
		<p>2. ³√8 = 𝟐</p>
		<p>3. √256 = √(2⁸) = 2⁽⁸/²⁾ = 2⁴ = 𝟏𝟔</p>
		<p>4. 9⁽¹/³⁾ = ³√𝟗</p>
		<p>5. (√3) (√2) = √𝟔</p>
		<p>6. ³√(5³) = 𝟓</p>
		<p>7. √(4𝑥²𝑦⁴) = 𝟐𝒙𝒚²</p>
		<p>8. ³√(⁴√2) = ¹²√𝟐</p>
	</div>
</body>
</html>