<html>
<head>
	<title>Modulo 1. Tema 2</title>
		 <!-- Bootstrap -->

		 <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
 
 
		 <!--Custom css-->
		 <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="subpage">
	<div class="sub-margin">
		<h1>Representaci&oacute;n algebraica de expresiones de un lenguaje com&uacute;n</h1>
		<p>El lenguaje com&uacute;n es el que com&uacute;nmente utilizamos a trav&eacute;s de un denominado c&oacute;digo o lenguaje, por lo que a partir de este podemos relacionarnos mutuamente, ya que lo ocupamos en la vida diaria.</p>
		<p>El lenguaje algebraico consta principalmente de las letras de alfabeto y algunos vocablos griegos. La principal funci&oacute;n de lenguaje algebraico es estructurar un idioma que ayude a generalizar las diferentes operaciones que se desarrollan dentro de la aritm&eacute;tica, por ejemplo: si queremos sumar dos n&uacute;meros cualesquiera basta con decir a + b; donde la letra a indique que es un n&uacute;mero cualquiera de la numeraci&oacute;n que conocemos, b de la misma manera que a significa un n&uacute;mero cualquiera de la numeraci&oacute;n.</p>
		<h3>T&eacute;rminos para identificar las operaciones en lenguaje algebraico</h3>
		<h4>Suma.</h4>
		<p>Adici&oacute;n, aumentar, sumar, añadir, exceder, mas, agregar.</p>
		<h4>Resta.</h4>
		<p>Sustraer, diferencia, menos, disminuir, menos que, menos de, quitar, reducir.</p>
		<h4>Multuplicaci&oacute;n.</h4>
		<p>Producto, por, multiplicado por, tantas veces, el producto de, incrementar, los vocablos: doble, triple, cu&aacute;druple, etc.</p>
		<h4>Divisi&oacute;n.</h4>
		<p>Cociente, entre, dividido por, raz&oacute;n de, fracci&oacute;n, porci&oacute;n, parte, reparto, mitad, tercio, cuarto, etc.</p>
		<h4>Ejemplos:</h4>
		<div class="table-wrapper">
			<table class="alt">
				<thead>
					<tr>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="text-align: center;">a</td>
						<td>Un n&uacute;mero cualquiera.</td>
					</tr>
					<tr>
						<td style="text-align: center;">b</td>
						<td>Un n&uacute;mero cualquiera.</td>
					</tr>
					<tr>
						<td style="text-align: center;">a+b</td>
						<td>La suma de dos n&uacute;meros o la adici&oacute;n de dos n&uacute;meros.</td>
					</tr>
					<tr>
						<td style="text-align: center;">a+b-c</td>
						<td>La suma de dos n&uacute;meros cualesquiera menos otro n&uacute;mero cualesquiera.</td>
					</tr>
					<tr>
						<td style="text-align: center;">a-b</td>
						<td>La resta de dos n&uacute;meros o la diferencia de dos n&uacute;meros.</td>
					</tr>
					<tr>
						<td style="text-align: center;">a⋅b</td>
						<td>El producto de dos n&uacute;meros.</td>
					</tr>
					<tr>
						<td style="text-align: center;">a²</td>
						<td>El cuadrado de un n&uacute;mero.</td>
					</tr>
					<tr>
						<td style="text-align: center;">a/b</td>
						<td>El cociente de dos n&uacute;meros.</td>
					</tr>
					<tr>
						<td style="text-align: center;">2a</td>
						<td>El doble de un n&uacute;mero.</td>
					</tr>
					<tr>
						<td style="text-align: center;">3(a+b)</td>
						<td>El triple de la adici&oacute;n de dos n&uacute;meros.</td>
					</tr>
				</tbody>
				<!--<tfoot>
					<tr>
						<td colspan="2"></td>
						<td>100.00</td>
					</tr>
				</tfoot>-->
			</table>
		</div>
	</div>
</body>
</html>