<html>
<head>
	<title>Modulo 1. Tema 3</title>
		 <!-- Bootstrap -->

		 <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
 
 
		 <!--Custom css-->
		 <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="subpage">
	<div>
		<h1>Expresiones algebraicas</h1>
		<p>Las expresiones algebraicas son el resultado de combinaciones de t&eacute;rminos algebraicos, es decir, n&uacute;meros y letras (inc&oacute;gnitas o variables) unidos relacionados entre s&iacute; mediante operaciones de suma, resta, multiplicaci&oacute;n y divisi&oacute;n, cada una de ellas con sus propiedades y caracter&iacute;sticas.</p>
		<h3>Tipos de expresiones</h3>
		<h4>Monomios:</h4>
		<p>Son expresiones algebraicas formadas por un coeficiente y una o varias variables siempre en producto unas con otras. Se llama “mono” porque solo posee un t&eacute;rmino algebraico.</p>
		<h4>Binomios:</h4>
		<p>Son expresiones algebraicas que poseen dos sumandos o t&eacute;rminos algebraicos, relacionados entre s&iacute; por una operaci&oacute;n. Son un tipo particular de polinomios.</p>
		<h4>Trinomios:</h4>
		<p>Igual que los anteriores, es un polinomio que consta de tres monomios, este trinomio es el m&aacute;s conocido por ser una ecuaci&oacute;n de segundo grado, por ejemplo el trinomio al cuadrado perfecto.</p>
		<h4>Polinomios:</h4>
		<p>Son un conjunto de monomios, relacionados entre s&iacute;, como los anteriores, pero estos poseen un n&uacute;mero finito de t&eacute;rminos, en nuestro caso, “n”.</p>
		<h3>Aplicaci&oacute;n</h3>
		<p>Otra manera de representar expresiones algebraicas es mediante enunciados, interpretando situaciones de la vida cotidiana, por ejemplo:</p>
		<h4>Ejemplos:</h4>
		<p>Otra manera de representar expresiones algebraicas es mediante enunciados, interpretando situaciones de la vida cotidiana, por ejemplo:</p>
		<p>1. Si la edad Pablo es el triple que la de Carlos m&aacute;s 7 años, ¿C&oacute;mo se expresa la edad Pablo?</p>
		<p style="text-align: center;">Edad Pablo = 3x + 7<br/>Edad Carlos = x</p>
		<p>2. Paula gasto en el supermercado $200.00 en comprar manzanas y naranjas, si un kilo de manzanas cuesta $20.00 y el de naranjas $10.00, ¿C&oacute;mo se expresa cuantos kilos compro Paula?</p>
		<p style="text-align: center;">X = manzanas<br/>Y = naranjas</p>
		<p style="text-align: center;">20x + 10y = 200</p>
	</div>
</body>
</html>